* {
    font-family: "Roboto", sans-serif;
}

.nav {
    /* height: 50px; */
    /* width: 1000px; */
    background-color: #39393f;
    display: flex;
    /* flex: auto; */
    }

.nav-title {
    flex: 3;
    color: azure;
    /* width: 100px; */
    align-items: center;
    /* justify-content: left; */
    padding-left: 20px;
}

.nav-links {
    /* flex: 2; */
    color: azure;
    /* display: inline-block; */
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    /* text-decoration: none; */
    padding: 10px;
    /* row-gap: 10px; */
    /* justify-content: right;
    width: 49%; */
}

.center {
    flex: 1;
    /* width 25%; */
    /* flex: auto; */
}

.right {
    flex: 3;
    display: flex;
    align-items: center;
    /* display: inline-block; */
    justify-content: flex-end;
    /* padding-left: 30%; */
    /* padding-right: 10px; */
}

li a {
    font-size: small;
    color: azure;
    padding-right: 15px;
    text-decoration: none;
}

.btn {
    color: azure;
    background-color: dodgerblue;
    box-shadow: 3px 3px black;
}

.active {
    font-size: medium ;
    font-weight:  bold;
}

